body{
    margin: 0px;
}

button{
    border: 0px;
    background-color: darkgray;
}

canvas{
    margin: 0px;
}

#toolbar{
    margin: 0px;
    height: 4%;
    width: 100%;
    position: absolute;
    background-color: darkgray;
}
