body{
    margin: 0px;
}

#toolbar button{
    border: 0px;
    background-color: darkgray;
    display: block;
}

#toolbar button:hover{
    background-color: lightgray;
}

canvas{
    margin: 0px;
}

#toolbar{
    margin: 0px;
    height: 4%;
    width: 100%;
    position: absolute;
    background-color: darkgray;
}
